
// https://coolors.co/464655-94958b-b7b6c1-d5cfe1-eddfef
primary-bg = #464655 // independence
secondary-bg = #B7B6C1 // levander gray
color1 = #3772FF // blue crayola
color2 = #DF2935 // rose madder
color3 = #FDCA40 // sunglow
